* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: 'Nunito', Roboto, system-ui, Tahoma, sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

a {
  color: white;
}

button {
  margin: 0;
  border: none;
}

.appWrapper {
  min-height: 100vh;
  width: 100%;
  background-color: rgb(17, 27, 33);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 1600px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

